@import 'base';
@import '~normalize.css/normalize';
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans Hebrew', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom:45px;
  margin-top:30px;
}
